@model RoomMonitor.Models.RoomViewModel
<div class="row">
    <div class="col-md-4">
        @Model.Name
    </div>
    <div class="col-md-3">
        @Html.EditorFor(m => m.StartMinutes, new { htmlAttributes = new { data_roomId = Model.Id } })
    </div>
    <div class="col-md-5">
        <button class="initiateButton" data-roomid="@Model.Id">Initiate</button>
        <button class="startPauseButton" data-roomid="@Model.Id" data-going="false">Start</button>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        @Html.TextArea("TextClue", new {  data_roomId = Model.Id})
    </div>
    <div class="col-md-6">
        <button class="showTextClue" data-roomid="@Model.Id" data-going="false">Show Clue</button>
    </div>
</div>

